@import '../node_modules/bootstrap/scss/bootstrap.scss';

// write your css here
#wrapper{
    display: flex;
    #sidebar{
        width: 14rem!important;
        height: 100vh;
    }

    #content-wrapper{
        background-color: #f8f9fc;
        width: 100%;
        overflow-x: hidden;
    }
}